<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.MenuMapper">
	
	<select id="select" parameterType="Integer" resultType="MenuDTO">
		SELECT * FROM menu WHERE menuid = #{menuid}
	</select>
	<select id="selectall" resultType="MenuDTO">
		SELECT * FROM menu
	</select>
	
	<select id="selectcatemenu" parameterType="Integer" resultType="MenuDTO">
		SELECT menuid, storeid, menuname, menuprice, menuinfo, img FROM menu WHERE menucateid = #{menucateid}
	</select>
	
	<insert id="insert" parameterType="MenuDTO">
		INSERT INTO menu VALUES (#{menuid}, #{storeid}, #{menucateid}, 
		#{menuname}, #{menuprice}, #{menuinfo}, #{img})
	</insert>
	<update id="update" parameterType="MenuDTO">
		UPDATE menu SET storeid = #{storeid}, menucateid = #{menucateid}, 
		menuname = #{menuname}, menuprice = #{menuprice}, menuinfo = #{menuinfo}, img = #{img}
		WHERE menuid = #{menuid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM menu WHERE menuid = #{menuid}
	</delete>

</mapper>