<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.OrderlistMapper">
	
	<select id="select" parameterType="Integer" resultType="OrderlistDTO">
		SELECT * FROM orderlist WHERE orderlistno=#{orderlistno}
	</select>
	
	<select id="selectall" resultType="OrderlistDTO">
		SELECT * FROM orderlist
	</select>
	
	<select id="total_pay" parameterType="String" resultType="OrderlistDTO">
		SELECT custid, SUM(totalprice) AS totalpay FROM orderlist
		WHERE custid = #{custid};
	</select>
	
	<select id="ranking" resultType="OrderlistDTO">
		SELECT m.menuname, s.storename, COUNT(m.menuid) AS ranking FROM orderlist ol
		INNER JOIN reserve r ON ol.orderlistno = r.orderlistno
		INNER JOIN menu m ON r.menuid = m.menuid
		INNER JOIN store s ON s.storeid = m.storeid
		GROUP BY m.menuname, s.storename
		ORDER BY ranking DESC LIMIT 0, 1
	</select>
	<select id="ranking2" resultType="OrderlistDTO">
		SELECT m.menuname, s.storename, COUNT(m.menuid) AS ranking FROM orderlist ol
		INNER JOIN reserve r ON ol.orderlistno = r.orderlistno
		INNER JOIN menu m ON r.menuid = m.menuid
		INNER JOIN store s ON s.storeid = m.storeid
		GROUP BY m.menuname, s.storename
		ORDER BY ranking DESC LIMIT 1, 1
	</select>
	<select id="ranking3" resultType="OrderlistDTO">
		SELECT m.menuname, s.storename, COUNT(m.menuid) AS ranking FROM orderlist ol
		INNER JOIN reserve r ON ol.orderlistno = r.orderlistno
		INNER JOIN menu m ON r.menuid = m.menuid
		INNER JOIN store s ON s.storeid = m.storeid
		GROUP BY m.menuname, s.storename
		ORDER BY ranking DESC LIMIT 2, 1
	</select>
	<select id="ranking4" resultType="OrderlistDTO">
		SELECT m.menuname, s.storename, COUNT(m.menuid) AS ranking FROM orderlist ol
		INNER JOIN reserve r ON ol.orderlistno = r.orderlistno
		INNER JOIN menu m ON r.menuid = m.menuid
		INNER JOIN store s ON s.storeid = m.storeid
		GROUP BY m.menuname, s.storename
		ORDER BY ranking DESC LIMIT 3, 1
	</select>
	<select id="ranking5" resultType="OrderlistDTO">
		SELECT m.menuname, s.storename, COUNT(m.menuid) AS ranking FROM orderlist ol
		INNER JOIN reserve r ON ol.orderlistno = r.orderlistno
		INNER JOIN menu m ON r.menuid = m.menuid
		INNER JOIN store s ON s.storeid = m.storeid
		GROUP BY m.menuname, s.storename
		ORDER BY ranking DESC LIMIT 4, 1
	</select>
	<insert id="insert" parameterType="OrderlistDTO">
		INSERT INTO orderlist VALUES (#{orderlistno},#{custid},sysdate(),#{cnt},#{totalprice},#{reservedate},#{reservetime})
		<selectKey keyProperty="orderlistno" resultType="Integer" order="AFTER"> 
                SELECT LAST_INSERT_ID()
      </selectKey> 
	</insert>
	<update id="update" parameterType="OrderlistDTO">
		UPDATE orderlist SET custid=#{custid}, cnt=#{cnt}, totalprice=#{totalprice}, reservedate=#{reservedate}, reservetime=#{reservetime} WHERE orderlistno=#{orderlistno}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM orderlist WHERE orderlistno=#{orderlistno}
	</delete>
	
	<select id="myorder" parameterType="String" resultType="OrderlistDTO">
		select o.orderlistno, o.orderdate, o.reservedate, o.reservetime, s.storename, o.totalprice from orderlist o
		inner join cust c on c.custid = o.custid
		inner join reserve r on r.orderlistno = o.orderlistno
		inner join menu m on m.menuid = r.menuid
		inner join store s on s.storeid = m.storeid
		where c.custid = #{custid}
		group by o.orderlistno, s.storename;
		
	</select>
	
	<select id="myorder_1" parameterType="String" resultType="OrderlistDTO">
	select o.reservedate, o.reservetime, s.storename, m.menuname, o.totalprice from orderlist o
		inner join cust c on c.custid = o.custid
		inner join reserve r on r.orderlistno = o.orderlistno
		inner join menu m on m.menuid = r.menuid
		inner join store s on s.storeid = m.storeid
		where c.custid = #{custid}
        order by o.reservedate desc
        limit 1;
	</select>
</mapper>