<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.StoreimgMapper">
	
	<select id="select" parameterType="Integer" resultType="StoreimgDTO">
		SELECT * FROM storeimgs WHERE storeimgno=#{storeimgno}
	</select>
	<select id="selectall" resultType="StoreimgDTO">
		SELECT * FROM storeimgs
	</select>
	<select id="selectstoreid" parameterType="Integer" resultType="StoreimgDTO">
		SELECT * FROM storeimgs WHERE storeid=#{storeid}
	</select>
	<select id="selectrandom"  resultType="StoreimgDTO">
		SELECT * FROM storeimgs s
		INNER JOIN store ss ON s.storeid = ss.storeid
		ORDER BY RAND()
		LIMIT 3
	</select>
	
	<select id="today"  resultType="StoreimgDTO">
		SELECT * FROM menu m
		LEFT OUTER JOIN menuimgs ms ON m.menuid = ms.menuid
		INNER JOIN store s ON m.storeid = s.storeid
		INNER JOIN storeimgs ss ON ss.storeid = s.storeid
		ORDER BY RAND()
		LIMIT 1;
	</select>
	<select id="today2"  resultType="StoreimgDTO">
		SELECT * FROM menu m
		LEFT OUTER JOIN menuimgs ms ON m.menuid = ms.menuid
		INNER JOIN store s ON m.storeid = s.storeid
		INNER JOIN storeimgs ss ON ss.storeid = s.storeid
		ORDER BY RAND()
		LIMIT 1;
	</select>
	
	<select id="today3"  resultType="StoreimgDTO">
		SELECT * FROM menu m
		LEFT OUTER JOIN menuimgs ms ON m.menuid = ms.menuid
		INNER JOIN store s ON m.storeid = s.storeid
		INNER JOIN storeimgs ss ON ss.storeid = s.storeid
		ORDER BY RAND()
		LIMIT 1;
	</select>
	
	
	<select id="selectrandominfo"  resultType="StoreimgDTO">
		SELECT * FROM menu m
		LEFT OUTER JOIN menuimgs ms ON m.menuid = ms.menuid
		INNER JOIN store s ON m.storeid = s.storeid
		ORDER BY RAND()
		LIMIT 2;
	</select>
	<insert id="insert" parameterType="StoreimgDTO">
		INSERT INTO storeimgs VALUES (#{storeimgno},#{storeid},#{storeimg})
	</insert>
	<update id="update" parameterType="StoreimgDTO">
		UPDATE storeimgs SET storeid=#{storeid}, storeimg=#{storeimg} WHERE storeimgno=#{storeimgno}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM storeimgs WHERE storeimgno=#{storeimgno}
	</delete>
	
</mapper>