<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.WishlistMapper">
	
	<select id="select" parameterType="Integer" resultType="WishlistDTO">
		SELECT * FROM wishlist
		WHERE wishlistid=#{wishlistid}
	</select>
	<select id="selectall" resultType="WishlistDTO">
		SELECT * FROM wishlist
	</select>
	<insert id="insert" parameterType="WishlistDTO">
		INSERT INTO wishlist VALUES (NULL, #{storeid}, #{custid}, SYSDATE())
	</insert>
	<update id="update" parameterType="WishlistDTO">
		UPDATE wishlist SET cartid=#{cartid},storeid=#{storeid},custid=#{custid},rdate=#{rdate} 
		WHERE wishlistid = #{wishlistid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM wishlist WHERE wishlistid = #{wishlistid}
	</delete>
	<select id="viewwish" resultType="WishlistDTO">
		SELECT w.wishlistid, w.custid, w.storeid, s.storename, s.storeintroduce, sm.storeimg from wishlist w
		INNER JOIN store s ON s.storeid = w.storeid
		INNER JOIN storeimgs sm ON sm.storeid = w.storeid
		WHERE w.custid = #{custid} AND sm.storeimg LIKE '%1%'
	</select>
</mapper>