<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.EatAdmMapper">
	
	<select id="select" parameterType="String" resultType="EatAdmDTO">
		SELECT * FROM eatadmin WHERE adminid=#{adminid}
	</select>
	<select id="selectall" resultType="EatAdmDTO">
		SELECT * FROM eatadmin
	</select>
	<insert id="insert" parameterType="EatAdmDTO">
		INSERT INTO eatadmin VALUES (#{adminid},#{pwd},#{adminname},1,#{storeid})
	</insert>
	<update id="update" parameterType="EatAdmDTO">
		UPDATE eatadmin SET pwd=#{pwd},adminname=#{adminname},alevel=#{alevel} WHERE adminid=#{adminid}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM eatadmin WHERE adminid=#{adminid}
	</delete>
	
</mapper>