/* Sidebar */
#sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	opacity: 0.9;
	transition: all .5s;
	display: flex;
	margin-left: 20px;
}

/* Main Content */
#wrapper {
	width: 100%;
}

#page-content-wrapper {
	width: 80%;
	padding: 15px;
	transition: all .5s;
	margin: auto;
}

#menu-toggle {
	transition: all .3s;
	font-size: 20px;
}

/* Sidebar styling */
.sidebar-nav {
	padding: 0;
	list-style: none;
	transition: all .5s;
	width: 100%;
	text-align: center;
}

.sidebar-nav li {
	line-height: 40px;
	width: 100%;
	transition: all .3s;
	padding: 10px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #5d5d5d;
}

.sidebar-nav li a:hover {
	color: #000;
}

/* 배너 */
.card {
	background: url("/img/caption.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	width: 820px;
	height: 180px;
}

.time-font {
	font-size: 40px;
	color: #fff;
}

.sm-font {
	font-size: 18px;
	color: #fff;
}

.med-font {
	font-size: 28px;
	color: #fff;
}

.large-font {
	font-size: 40px;
	color: #fff;
}

.my_tit {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 4px solid #000;
	font-size: 22px;
	color: #000;
	line-height: 30px;
	font-weight: 500;
}

.my_tit span {
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 400;
}