<meta charset="UTF-8">
<head>
<style>
#container {
    height: 400px;
}

#web {
	height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#to {
	width: 420px;
	height: 400px;
	overflow: auto;
	border: 2px solid white;
}
</style>
<script>
var stompClient = null;
var id = '[[${session.loginadmin.adminid}]]';
// 서버소켓에 연결
function connect() {
	var socket = new SockJS('http://127.0.0.1:8080/eatadmin/ws');
	stompClient = Stomp.over(socket);

	stompClient.connect({}, function(frame) { 
		setConnected(true);
		console.log('Connected: ' + frame);
		stompClient.subscribe('/send/to/'+id, function(msg) { 
			$("#to").prepend(
					"<h4>" + JSON.parse(msg.body).sendid +":"+
					JSON.parse(msg.body).content1
							+ "</h4>");
		});
	});
}

function disconnect() {
	if (stompClient !== null) {
		stompClient.disconnect();
	}
	setConnected(false);
	console.log("Disconnected");
}

function setConnected(connected) {
	if (connected) {
		$("#status").text("Connected");
	} else {
		$("#status").text("Disconnected");
	}
	
}

function sendTo() {
	var msg = JSON.stringify({
		'sendid' : id,
		'receiveid' : $('#target').val(),
		'content1' : $('#totext').val()
	});
	stompClient.send('/receiveto', {}, msg);
}

function getCustCnt(){
	$.ajax({
		url:'[[@{/custcnt}]]',
		success:function(data){
			$('#cust_cnt').text(data);
		}
	});
};

function getStoreCnt(){
	$.ajax({
		url:'[[@{/storecnt}]]',
		success:function(data){
			$('#store_cnt').text(data);
		}
	});
};

function getReserveCnt(){
	$.ajax({
		url:'[[@{/reservecnt}]]',
		success:function(data){
			$('#reserve_cnt').text(data);
		}
	});
};

function getSalesCnt(){
	$.ajax({
		url:'[[@{/salescnt}]]',
		success:function(data){
			$('#sales_cnt').text(data);
		}
	});
};

function display(data){
	Highcharts.chart('container', {
	    chart: {
	        type: 'column'
	    },
	    title: {
	        text: 'Eat&Out 일별 총 매출'
	    },
	    subtitle: {
	        text: 'Source: ' +
	            '<a th:href="@{https://www.ssb.no/en/statbank/table/08940/}" ' +
	            'target="_blank">SSB</a>'
	    },
	    xAxis: {
	        categories: data['day'],
	        crosshair: true
	    },
	    yAxis: {
	        title: {
	            useHTML: true,
	            text: '일 매출'
	        }
	    },
	    tooltip: {
	        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
	        footerFormat: '</table>',
	        shared: true,
	        useHTML: true
	    },
	    plotOptions: {
	        column: {
	            pointPadding: 0.2,
	            borderWidth: 0
	        }
	    },
	    series: data['result']
	});
};
function getdata(){
	$.ajax({
		url:'[[@{/chart1}]]',
		success:function(data){
			display(data);
		}
	});
};
$(document).ready(function(){
	getdata();
	getCustCnt();
	getStoreCnt();
	getReserveCnt();
	getSalesCnt();
	$("#connect").click(function() {
		connect();
	});
	$("#disconnect").click(function() {
		disconnect();
	});
});

</script>
</head>
<body>
           <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">총 회원수</p>
                                <div>
                        	        <h6 class="mb-0" id="cust_cnt"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">입점 매장</p>
                                <div>
                                	<h6 class="mb-0" id="store_cnt"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">누적 예약</p>
                                <div>
                                	<h6 class="mb-0" id="reserve_cnt"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">누적 매출</p>
                                <div>
                         	    	<h6 class="mb-0" id="sales_cnt"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->
			<!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">일 매출</h6>
                            </div>
                            <div class="card-body">
                            	<div id="container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">주문 확인</h6>
                                <h6 th:text="${session.loginadmin.storeid}">ID</h6>
                                <H6 id="status">Status</H6>
                                <button id="connect">Connect</button>
								<button id="disconnect">Disconnect</button>
                            </div>
                            <div class="card-body">
                            	<div id="web"><div id="to"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->

           
            <!-- Recent Sales End -->

</body>
</html>