<meta charset="utf-8">
<style>
	tbody > tr > td > img{
		width:50px; 
	}
.right-box {
  float: right;
}

</style>
<script>
function del(menuimgno){
	var c = confirm('삭제하시겠습니까?');
	if(c == true){
		location.href='[[@{/deletemenuimg?menuimgno=}]]'+menuimgno;
	}
}

</script>
<!-- Page Heading -->


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">이미지 목록</h6>
       	<div class="right-box">
        	<a th:href="@{/regmenuimg}">이미지 추가</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>이미지 번호</th>
                        <th>매장 이름</th>
                        <th>메뉴id</th>
                        <th>메뉴 이름</th>
                        <th>이미지</th>
                        <th>삭제</th>
                    </tr>
                </thead>

                <tbody>
                   	<tr th:each="i:${list}">
                   		<td th:text="${i.menuimgno}"></td>
                   		<td th:text="${i.storename}"></td>
                   		<td th:text="${i.menuid}"></td>
                   		<td th:text="${i.menuname}"></td>
                   		<td><img th:src="@{/menuimg/}+${i.menuimg}"></td>
                   		<td><a th:onclick="del([[${i.menuimgno}]])"><img th:src="@{img/5974771.png}" style="width:30px;"></a></td>
                   	</tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>