<meta charset="utf-8">
<style>
.right-box {
  float: right;
}
</style>
<script>
$(document).ready(function(){
	$('#register_btn').click(function(){
		$('#register_form').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'[[@{/regmenuimpl}]]'
		});
		$('#register_form').submit();
	});
});

</script>



<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">

</div>

<!-- Detail Area -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">메뉴 추가</h6>
    </div>
    <div class="card-body">
       <form id="register_form">
		    <div class="form-group">
		      <label for="storeid">매장id:</label>
		      <input type="number" class="form-control" id="storeid"  name="storeid">
		      <span id="ispan"></span>
		    </div>
		    <div class="form-group">
		      <label for="menucateid">카테고리:</label>
		      <input type="number" class="form-control" id="menucateid" name="menucateid">
		      <span id="ispan"></span>
		    </div>
		    <div class="form-group">
		      <label for="menuname">메뉴이름:</label>
		      <input type="text" class="form-control" id="menuname" name="menuname">
		    </div>
		    <div class="form-group">
		      <label for="menuprice">가격:</label>
		      <input type="number" class="form-control" id="menuprice" name="menuprice">
		      <span id="ispan"></span>
		    </div>
		    <div class="form-group">
		      <label for="menuinfo">메뉴정보:</label>
		      <input type="text" class="form-control" id="menuinfo" name="menuinfo">
		    </div>
		    <div class="right-box">
		    <a id="register_btn" class="btn btn-default"><img th:src="@{/img/31287.png}" style="width:60px;"></a>
		    </div>
  		</form>
    </div>
</div>
