<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8">

<head>
<link rel="stylesheet" th:href="@{/assets/css/common/styles.css}">

<style>
/* 배너 */
.card2 {
	background-color: #ffffff;
	border-radius: 30px;
	background: url("/eatnout/img/caption.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 30px;
}

#heading {
	font-size: 55px;
	color: #fff;
}

.temp {
	place-items: center;
}

.temp-details>p>span, .grey {
	color: #fff;
	font-size: 18px;
}

.fa {
	color: #fff
}

*:focus {
	outline: none;
}
.reconfirm {
	margin: 0px auto;
	height: 220px;
	width: 850px;
	padding-top: 50px;
}

.my_tit {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 4px solid #000;
}

.my_tit span {
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 400;
}

.btn_next {
	padding-top: 30px;
	border-top: 1px solid #d4d4d4;
	text-align: center;
}

.btn_next button {
	width: 300px;
	height: 50px;
	margin: 0 auto;
	background: #000;
	border-color: #000;
	font-weight: 700;
	font-size: 18px;
	font-weight: 700;
}
</style>
<script>
	$(document).ready(function() {
		const menu=document.querySelector('#menu-toggle')
	
			$("#wrapper").toggleClass("menuDisplayed");
	
			menu.style.visibility = "hidden";


		$('#inputPassword').keyup(function() {
			var id = $("#staticId").val();
			var pwd = $("#inputPassword").val();
			$.ajax({
				url : "[[@{/edit/reconfirm}]]",
				data : {
					"custid" : id,
					"custpwd" : pwd
				},
				success : function(result) {
					if ($("#inputPassword").val() == "") {
						$("#pspan").css("visibility", "hidden");
						$("#next_btn").attr("disabled", false);
					} else if (result == "false") {
						$("#pspan").text("비밀번호를 다시 확인해주세요.");
						$("#pspan").css("color", "#ff4800");
						$("#pspan").css("visibility", "visible");
						$("#next_btn").attr("disabled", true);
					} else {
						$("#pspan").text("비밀번호 일치.");
						$("#pspan").css("color", "green");
						$("#pspan").css("visibility", "visible");
						$("#next_btn").attr("disabled", false);
					}
					return

				}
			});
		});

		$("#next_btn").click(function() {
			if ($("#inputPassword").val() == "") {
				$("#pspan").css("visibility", "visible");
				$("#pspan").text("비밀번호를 입력해주세요.");
				$("#pspan").css("color", "#ff4800");
				$("#pspan").focus();
				return

			}
			var custid = "[[${session.logincust.custid}]]";
			location.href = "[[@{/mypage/info?id=}]]" + custid;
		});
	});
</script>
<div id="wrapper" style="height: auto">
	<!-- 메뉴바 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content:center;">
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">나의 EAT & OUT</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item"
							th:href="@{/mypage/order(id=${session.logincust.custid})}">테이블
							조회</a> <a class="dropdown-item"
							th:href="@{/mypage/review(id=${session.logincust.custid})}">나의
							리뷰</a> <a class="dropdown-item"
							th:href="@{/wishlist(id=${session.logincust.custid})}">나의
							위시리스트</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> 계정설정 </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item"
							th:href="@{/mypage/edit(id=${session.logincust.custid})}">회원정보수정</a>
						<a class="dropdown-item" href="#">쿠폰</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">고객센터</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/mypage/question}">1:1
							문의내역</a> <a class="dropdown-item" href="#">공지사항</a> <a
							class="dropdown-item" href="#">FAQ</a>
					</div></li>
			</ul>
		</div>
	</nav>
	<!-- 메뉴바 끝 -->
	<div class="container-fluid">

		<div class="row justify-content-center">
			<div class="col-12 col-md-4 col-sm-12 col-xs-12">
				<div class="card2 p-4">
					<div class="d-flex">
						<h6 class="flex-grow-1" style="color: #fff;"
							th:text="'😀'+${session.logincust.custname}+'님의 가까운 예약'"></h6>
						<h6></h6>
					</div>
					<div class="d-flex flex-column temp mt-5 mb-3"
						th:with="list1 = ${session.list_one}">
						<h3 class="mb-0 font-weight-bold" id="heading"
							th:text="${list1.storename}"></h3>
					</div>
					<div class="d-flex" th:with="list1 = ${session.list_one}">
						<div class="temp-details flex-grow-1">
							<p class="my-1" th:text="'D' + ${session.banner_dday}"
								style="color: #fff; font-size: 15px;">
								<span th:text="${session.banner_rsvdate}"
									style="color: #fff; font-size: 45px;"></span>
							</p>
							<p class="my-1">
								<span th:text="'예약날짜 : '+${list1.reservedate}"
									style="color: #fff;"> </span>
							</p>
						</div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="page-content-wrapper">
		<div class="container-fluid px-1 px-md-4 py-2 mx-auto">
			<div class="row d-flex justify-content-center px-3">
				<h3 class="my_tit">
					비밀번호 재확인<span>회원님의 소중한 정보보호를 위해 비밀번호를 재확인하고 있습니다.</span>
				</h3>
				<div class="form-group" style="padding: 36px 0">
					<div class="form-group row">
						<label for="staticId" class="col-sm-2 col-form-label">아이디</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control-plaintext"
								id="staticId" th:value="${session.logincust.custid}"
								name="custid">
						</div>
					</div>
					<div class="form-group row" style="margin-top: 10px">
						<label for="inputPassword" class="col-sm-2 col-form-label">비밀번호</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword"
								placeholder="" style="width: 250px" name="custpwd"> <span
								id="pspan" style="margin-top: 5px"></span>
						</div>
					</div>
				</div>
				</form>
				<div class="btn_next">
					<button id="next_btn" class="btn-primary">다 음</button>
				</div>
			</div>
		</div>
	</div>
</div>

</body>