
<meta charset="utf-8">

<!--====== Content Card Style 4 Part Start ======-->
<section class="content-card-style-4 pt-70 pb-100">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-7 col-sm-8">
				<div class="single-content mt-15 text-center">
					<div class="content-icon">
						<i class="mdi mdi-truck-fast"></i>
					</div>
					<div class="content-content">
						<h4 class="title">MY PAGE</h4>
						<p th:text="${session.logincust.custname} + 님"></p>
						<h5>나의 예약정보</h5>
						<ul>
							<li><a href="#">예약조회</a></li>
							<li><a href="#">나의 리뷰</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== Content Card Style 4 Part Ends ======-->