<meta charset="utf-8">

<style>
.parent {
	position: relative;
	min-width: 900px px;
	max-width: 1500px;
	margin: 40px auto 0;
	padding: 0 50px 100px;
	display: flex;
}

.first {
	flex: none;
	width: 230px;
	padding: 0 50px 0 0;
}

.second {
	margin-top: 75px;
	margin-left: 0;
	margin-right: 0;
}

h4 {
	font-size: 30px;
}

ul {
	padding: 5px 0;
	margin-bottom: 20px;
}

a {
	padding: 5px 0;
	font-size: 15px;
	color: gray;
}

#info {
	font-size: 30px;
	color: #000;
	margin-bottom: 20px;
}

tr > th {
	width: 200px;
	text-align: center;
}
</style>

<!--====== Content Card Style 4 Part Start ======-->
<div class=parent>
	<div class="first">
		<h4 class="title">MY PAGE</h4>
		<!-- ID값을 부여해주자  -->
		<p th:text="${session.logincust.custname} + 님" id="info"></p>
		<h5>나의 예약정보</h5>
		<ul>
			<li><a href="#">예약조회</a></li>
			<li><a href="#">나의 리뷰</a></li>
		</ul>
		<h5>나의 계정설정</h5>
		<ul>
			<li><a th:href="@{/mypage/edit(id=${session.logincust.custid})}">회원정보수정</a></li>
			<li><a href="#">회원등급</a></li>
			<li><a href="#">쿠폰</a></li>
		</ul>
		<h5>고객센터</h5>
		<ul>
			<li><a href="#">1:1 문의내역</a></li>
			<li><a href="#">공지사항</a></li>
			<li><a href="#">#</a></li>
		</ul>
	</div>
	<div class="second">
		<h3>현재 예약 테이블(임시)</h3>
		<table class="table">
			<thead>
				<tr class="tbl">
					<th>예약일</th>
					<th>예약시간</th>
					<th>테이블</th>
					<th>주문메뉴</th>
					<th>가격</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>as</td>
					<td>no</td>
					<td>name</td>
					<td>price</td>
					<td>price</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!--====== Content Card Style 4 Part Ends ======-->