 <meta charset="utf-8">
 
 
 <section class="header-style-1">
        <div class="header-big">
            <div class="header-items-active">
                <div class="single-header-item bg_cover"
                    th:style="'background-image: url('+@{/img/tclf4.jpg}+');'">
                    <div class="header-item-content">
                        <h3 class="title">숙성도-노형점</h3>
                        <a href="javascript:void(0)" class="link">정용진회장의 단골 삼겹살집!</a>
                    </div>
                </div>
                <div class="single-header-item bg_cover"
                    th:style="'background-image: url('+@{/img/mnsd2.jpg}+');'">
                    <div class="header-item-content">
                        <h3 class="title">올래국수-제주점</h3>
                        <a href="javascript:void(0)" class="link">고기국수맛집</a>
                    </div>
                </div>
                <div class="single-header-item bg_cover"
                    th:style="'background-image: url('+@{/img/jm1.jpg}+');'">
                    <div class="header-item-content">
                        <h3 class="title">송도-260도</h3>
                        <a href="javascript:void(0)" class="link">저렴한가격으로 즐기는 숙성 와규 집</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-min">
            <div class="header-min-item product-style-25 bg_cover"
                th:style="'background-image: url('+@{img/ujA.jpg}+');'">
                <div class="product-content">
                    <h4 class="title"><a href="product-details-page.html">닻-함덕점</a></h4>
                    <p>딱새우가 맛있는 이자카야</p>
                    <a href="javascript:void(0)" class="main-btn primary-btn-border">
                        대기현황:12팀</a>
                </div>
            </div>
            <div class="header-min-item product-style-25 bg_cover"
                th:style="'background-image: url('+@{img/hwdB.jpg}+');'">
                <div class="product-content">
                    <h4 class="title"><a href="product-details-page.html">엄마손횟집-제주시</a></h4>
                    <p>부부가운영하는 오마카세횟집</p>
                    <a href="javascript:void(0)" class="main-btn primary-btn-border"> 
                        대기현황:5팀</a>
                </div>
            </div>
        </div>
    </section>
    <!--====== Header Style 1 Part Ends ======-->

    <!--====== Content Card Style 4 Part Start ======-->
    <section class="content-card-style-4 pt-70 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <img src="/assets/images/deserticon.png" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">제주도 내 모든 카페정보는어디?</p><br>
                            
                            <a href="javascript:void(0)" class="more">디저트 구경하러가기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <img src="/assets/images/sushiicon.png" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">오늘 저녁은 정갈한 오마카세</p><br>
                            <a href="contact-page.html" class="more">오마카세 예약하러가기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                           <img src="/assets/images/porkicon.png" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">제주 흑돼지먹으러가자~!</p><br>
                            <a href="javascript:void(0)" class="more">도민추천 흑돼지고기집보러가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Content Card Style 4 Part Ends ======-->

    <!--====== Product Style 1 Part Start ======-->
    <section class="product-wrapper pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-50">
                        <h1 class="heading-1 font-weight-700">🙋‍♂️Today's Pick</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image">
                            <span class="icon-text text-style-1">NEW</span>
                            <div class="product-active">
                                <div class="product-item active">
                                    <img src="/assets/images/zouma1.jpg" alt="product">
                                </div>
                                <div class="product-item">
                                    <img src="/assets/images/zouma.jpg" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <h4 class="title"><a href="product-details-page.html">송도-ZOUMA</a></h4>
                            <p>인천광역시 연수구 센트럴로 194</p>
                            <a href="javascript:void(0)" class="main-btn secondary-1-btn">
                                
                                감각적인 이탈리안 레스토랑
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image">
                            <span class="icon-text text-style-1">따뜻한국물</span>
                            <div class="product-active">
                                <div class="product-item active">
                                    <img src="/assets/images/example.jpg" alt="product">
                                </div>
                                <div class="product-item">
                                    <img src="/assets/images/example1.jpg" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <h4 class="title"><a href="product-details-page.html">송도-깨비옥</a></h4>
                            <p>인천광역시 연수구 컨벤시아대로 116</p>
                            <a href="javascript:void(0)" class="main-btn secondary-1-btn">
                                
                                쌀쌀해진날씨! 담백한국물한모금
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image">
                            <div class="product-active">
                                <div class="product-item active">
                                    <img src="/assets/images/teppan1.jpg" alt="product">
                                </div>
                                <div class="product-item">
                                    <img src="/assets/images/teppan.jpg" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <h4 class="title"><a href="product-details-page.html">송도-대판1985</a></h4>
                            <p>인천광역시 연수구 컨벤시아대로 116</p>
                            <a href="javascript:void(0)" class="main-btn secondary-1-btn">
                                
                                정통 일본식 대판음식점
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Product Style 1 Part Ends ======-->

    <!--====== Product Style 7 Part Start ======-->
    <article class="product-wrapper pt-100 pb-100" th:if="${session.logincust != null}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-50">
                        <h1 class="heading-1 font-weight-700"><a>🙌WishList</a></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" th:each="vw : ${viewwish}">
                    <div class="product-style-7 mt-30">
                        <div class="product-image">
                            <div class="product-active">
                                <div class="product-item">
                                    <img th:src="@{/img/}+${vw.storeimg}" alt="product">
                                </div>
                            </div>
                        </div>
                        <div class="product-content" >
                            <h4 class="title" th:text="${vw.storename}">상호<a th:href="@{/storedetail(storeid=${vw.storeid})}"></a></h4>
                            <p th:text="${vw.storeintroduce}">소개</p>
                            <a th:href="@{/storedetail(storeid=${vw.storeid})}" class="main-btn primary-btn">
                                <img src="assets/images/icon-svg/cart-4.svg" alt="">
                                가게 상세 정보
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>