 <meta charset="utf-8">
 
 <section class="header-style-1">
        <div class="header-big">
            <div class="header-items-active">
                <div class="single-header-item bg_cover" th:each="r : ${randomimg}"
                    th:style="'background-image: url('+@{'/storeimg/'+${r.storeimg}}+');'">
                    <div class="header-item-content">
                        <h3 class="title" th:text="${r.storename}"></h3>
                        <a th:href="@{/storedetail(storeid=${r.storeid})}" class="link" th:text="${r.storeintroduce}"></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header-min">
            <div class="header-min-item product-style-25 bg_cover" th:each="ra : ${randominfo}"
                th:style="'background-image: url('+@{'/menuimg/'+${ra.menuimg}}+');'">
                <div class="product-content">
                    <h4 class="title"><a href="product-details-page.html" th:text="${ra.storename}"></a></h4>
                    <p th:text="${ra.storeintroduce}"></p>
                    <a th:href="@{/storedetail(storeid=${ra.storeid})}" class="main-btn primary-btn-border" th:text="${ra.storestatus}">
                        </a>
                </div>
            </div>
  
            </div>
        </div>
    </div>
 
    <!--====== Header Style 1 Part Ends ======-->

    <!--====== Content Card Style 4 Part Start ======-->
    <section class="content-card-style-4 pt-70 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <img th:src="@{/assets/images/deserticon.png}" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">제주도 내 모든 카페정보는어디?</p><br>
                            
                            <a th:href="@{/cafedetail}" class="more">디저트 구경하러가기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <img th:src="@{/assets/images/sushiicon.png}" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">오늘 저녁은 정갈한 오마카세</p><br>
                            <a th:href="@{/sushidetail}" class="more">오마카세 예약하러가기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                           <img th:src="@{/assets/images/porkicon.png}" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">제주 흑돼지먹으러가자~!</p><br>
                            <a th:href="@{/porkdetail}" class="more">도민추천 흑돼지고기집보러가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Content Card Style 4 Part Ends ======-->

    <!--====== Product Style 1 Part Start ======-->
    <section class="product-wrapper pt-100 pb-70" >
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-50">
                        <h1 class="heading-1 font-weight-700">💯오늘의 추천맛집</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6" >
                    <div class="product-style-1 mt-30">
                        <div class="product-image" th:each=" t : ${today}">
                            <span class="icon-text text-style-1" th:text=${t.storestatus}></span>
                            <div class="product-active" th:each=" t : ${today}">
                                <div class="product-item active" >
                                    <img th:src="@{/storeimg/}+${t.storeimg}" alt="product">
                                </div>
                                <div class="product-item" >
                                    <img th:src="@{/menuimg/}+${t.menuimg}" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                        </div>
                        <div class="product-content text-center" th:each=" t : ${today}">
                            <h5 class="title" th:text="${t.storename}" style="color:white; font-weight:500;"><a href="#"></a></h5>
                            <p th:text="${t.storeaddr}"></p>
                            <a th:href="@{/storedetail(storeid=${t.storeid})}" class="main-btn secondary-1-btn" style="width:auto;">
                                <p th:text="${t.storeintroduce}" style="font-weight:900; color:white;"></p>
 
                            </a>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image" th:each=" tw : ${todaytwo}">
                            <span class="icon-text text-style-1" th:text="${tw.storestatus}"></span>
                            <div class="product-active">
                                <div class="product-item active">
                                    <img th:src="@{/storeimg/}+${tw.storeimg}"  alt="product">
                                </div>
                                <div class="product-item">
                                    <img th:src="@{/menuimg/}+${tw.menuimg}" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                        </div>
                        <div class="product-content text-center" th:each=" tw : ${todaytwo}">
                            <h5 class="title" th:text="${tw.storename}" style="color:white; font-weight:500;"><a href="product-details-page.html" ></a></h5>
                            <p th:text="${tw.storeaddr}"></p>
                            <a th:href="@{/storedetail(storeid=${tw.storeid})}" class="main-btn secondary-1-btn">
                                <p th:text="${tw.storeintroduce}" style="font-weight:900; color:white;"></p>
                               
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image" th:each=" th : ${todaythree}">
                            <span class="icon-text text-style-1" th:text="${th.storestatus}"></span>
                            <div class="product-active">
                                <div class="product-item active">
                                    <img th:src="@{/storeimg/}+${th.storeimg}"  alt="product">
                                </div>
                                <div class="product-item">
                                    <img th:src="@{/menuimg/}+${th.menuimg}" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                        </div>
                        <div class="product-content text-center" th:each="th : ${todaythree}">
                            <h5 class="title"  th:text="${th.storename}" style="color:white; font-weight:500;"><a href="product-details-page.html"></a></h5>
                            <p th:text="${th.storeaddr}"></p>
                            <a th:href="@{/storedetail(storeid=${th.storeid})}" class="main-btn secondary-1-btn">
                                
                                <p th:text="${th.storeintroduce}" style="font-weight:900; color:white;"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Product Style 1 Part Ends ======-->

    <!--====== Product Style 7 Part Start ======-->
    <article class="product-wrapper pt-100 pb-100" th:if="${session.logincust != null}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-50">
                        <h1 class="heading-1 font-weight-700"><a>🙌WishList</a></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" th:each="vw : ${viewwish}">
                    <div class="product-style-7 mt-30">
                        <div class="product-image">
                            <div class="product-active">
                                <div class="product-item">
                                    <img th:src="@{/storeimg/}+${vw.storeimg}" alt="product">
                                </div>
                            </div>
                        </div>
                        <div class="product-content" >
                            <h4 class="title" th:text="${vw.storename}">상호<a th:href="@{/storedetail(storeid=${vw.storeid})}"></a></h4>
                            <p th:text="${vw.storeintroduce}">소개</p>
                            <a th:href="@{/storedetail(storeid=${vw.storeid})}" class="main-btn primary-btn">
                                <img th:src="@{/assets/images/icon-svg/cart-4.svg}" alt="">
                                가게 상세 정보
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    
    
    