 <meta charset="utf-8">
 <head>
 <style>
 
 .modal {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
 
 
 
 </style>
 <script>
 
$(document).ready(function(){
	$('#wishlist_btn').click(function() {
		var storeid = $('#storeid').text();
		var custid = $('#custid').text();
		$.ajax({
			url : '[[@{/insertwishlist}]]',
			data : {
				'storeid' : storeid,
				'custid' : custid
			},
			success : function(data) {
				$('#Modal').modal()
			}
		});
	});
	
	
	$('#wishlist_btntwo').click(function() {
		var storeidtwo = $('#storeidtwo').text();
		var custidtwo = $('#custidtwo').text();
		$.ajax({
			url : '[[@{/insertwishlist}]]',
			data : {
				'storeid' : storeidtwo,
				'custid' : custidtwo
			},
			success : function(data) {
				$('#Modal').modal()
			}
		});
	});
	
	
	$('#wishlist_btnth').click(function() {
		var storeidth = $('#storeidth').text();
		var custidth = $('#custidth').text();
		$.ajax({
			url : '[[@{/insertwishlist}]]',
			data : {
				'storeid' : storeidth,
				'custid' : custidth
			},
			success : function(data) {
				$('#Modal').modal()
			}
		});
	});
	
	const  mainText = document.querySelector('#slide')
	
	window.addEventListener('scroll',function(){
		const value = window.scrollY;
		console.log("scrollY",value);
		
		
		if(value<700){
			mainText.style.animation='disappear 2s ease-out fowards';
			}else{
				
				mainText.style.animation='slide 2s ease-out';
			}
	})
	
	
});
 
 </script>
 
 </head>
 <body>
 <section class="header-style-1">
        <div class="header-big">
            <div class="header-items-active">
                <div class="single-header-item bg_cover" th:each="r : ${randomimg}"
                    th:style="'background-image: url('+@{'/storeimg/'+${r.storeimg}}+');'">
                    <div class="header-item-content">
                        <h3 class="title" th:text="${r.storename}"></h3>
                        <a th:href="@{/storedetail(storeid=${r.storeid})}" class="link" th:text="${r.storeintroduce}"></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header-min">
            <div class="header-min-item product-style-25 bg_cover" th:each="ra : ${randominfo}"
                th:style="'background-image: url('+@{'/menuimg/'+${ra.menuimg}}+');'">
                <div class="product-content">
                    <h4 class="title"><a href="product-details-page.html" th:text="${ra.storename}"></a></h4>
                    <p th:text="${ra.storeintroduce}" style="font-size:16px;"></p>
                    <a th:href="@{/storedetail(storeid=${ra.storeid})}" class="main-btn primary-btn-border" th:text="${ra.storestatus}">
                        </a>
                </div>
            </div>
  
            </div>
        </div>
    </div>
 </section>
    <!--====== Header Style 1 Part Ends ======-->

    <!--====== Content Card Style 4 Part Start ======-->
    <section class="content-card-style-4 pt-70 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <img th:src="@{/assets/images/deserticon.png}" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">제주도 내 모든 카페정보는어디?</p><br>
                            
                            <a th:href="@{/cafedetail}" class="more">디저트 구경하러가기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                            <img th:src="@{/assets/images/sushiicon.png}" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">오늘 저녁은 정갈한 오마카세</p><br>
                            <a th:href="@{/sushidetail}" class="more">오마카세 예약하러가기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-content mt-15 text-center">
                        <div class="content-icon">
                           <img th:src="@{/assets/images/porkicon.png}" style="width:100px;">
                        </div>
                        <div class="content-content">
                            <h4 class="title"><a href="javascript:void(0)"></a></h4>
                            <p style="font-weight:800;">제주 흑돼지먹으러가자~!</p><br>
                            <a th:href="@{/porkdetail}" class="more">도민추천 흑돼지고기집보러가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Content Card Style 4 Part Ends ======-->

    <!--====== Product Style 1 Part Start ======-->
    <section class="product-wrapper pt-100 pb-70" style="background-color: #fff;">
        <div class="container"  id="slide" style="position: relative;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-50">
                        <h1 class="heading-1 font-weight-600" style="font-size:40px;">💯오늘의 추천맛집</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6" >
                    <div class="product-style-1 mt-30">
                        <div class="product-image" th:each=" t : ${today}">
                            <span class="icon-text text-style-1" th:text=${t.storestatus}></span>
                            <div class="product-active" th:each=" t : ${today}">
                                <div class="product-item active" >
                                    <img th:src="@{/storeimg/}+${t.storeimg}" alt="product">
                                </div>
                                <div class="product-item" >
                                    <img th:src="@{/menuimg/}+${t.menuimg}" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <img th:src="@{/img/love.png}" style="width:30px;" id="wishlist_btn" data-toggle="modal"
				data-target="#Modal">
                            </a>
                        </div>
                        <div class="product-content text-center" th:each=" t : ${today}">
                            <h5 class="title" th:text="${t.storename}" style="color:white; font-weight:500;"><a href="#"></a></h5>
                            <p th:text="${t.storeaddr}"></p>
                            <p th:if="${session.logincust != null}" id="custid"
							th:text="${session.logincust.custid}" style="display: none"></p>
                            <p  id="storeid" th:text="${t.storeid}" style="display:none;"></p>
                            <a th:href="@{/storedetail(storeid=${t.storeid})}" class="main-btn secondary-1-btn" style="width:auto;">
                                <p th:text="${t.storeintroduce}" style="font-weight:900; color:white;"></p>
 
                            </a>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image" th:each=" tw : ${todaytwo}">
                            <span class="icon-text text-style-1" th:text="${tw.storestatus}"></span>
                            <div class="product-active">
                                <div class="product-item active">
                                    <img th:src="@{/storeimg/}+${tw.storeimg}"  alt="product">
                                </div>
                                <div class="product-item">
                                    <img th:src="@{/menuimg/}+${tw.menuimg}" alt="product">
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <img th:src="@{/img/love.png}" id="wishlist_btntwo"  style="width:30px;"  data-toggle="modal"
				data-target="#Modal">
                            </a>
                        </div>
                        <div class="product-content text-center" th:each=" tw : ${todaytwo}">
                            <h5 class="title" th:text="${tw.storename}" style="color:white; font-weight:500;"><a href="product-details-page.html" ></a></h5>
                            <p th:text="${tw.storeaddr}"></p>
                            <p th:if="${session.logincust != null}" id="custidtwo"
							th:text="${session.logincust.custid}" style="display: none"></p>
                            <p  id="storeidtwo" th:text="${tw.storeid}" style="display:none;"></p>
                            <a th:href="@{/storedetail(storeid=${tw.storeid})}" class="main-btn secondary-1-btn">
                                <p th:text="${tw.storeintroduce}" style="font-weight:900; color:white;"></p>
                               
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="product-style-1 mt-30">
                        <div class="product-image" th:each=" th : ${todaythree}">
                            <span class="icon-text text-style-1" th:text="${th.storestatus}"></span>
                            <div class="product-active">
                                <div class="product-item active">
                                    <img th:src="@{/storeimg/}+${th.storeimg}"  alt="product">
                                </div>
                                <div class="product-item">
                                    <img th:src="@{/menuimg/}+${th.menuimg}" alt="product">
                            
                            
                                </div>
                            </div>
                            <a class="add-wishlist" href="javascript:void(0)">
                                <img th:src="@{/img/love.png}" style="width:30px;" id="wishlist_btnth" data-toggle="modal"
				data-target="#Modal">
                            </a>
                        </div>
                        <div class="product-content text-center" th:each="th : ${todaythree}">
                            <h5 class="title"  th:text="${th.storename}" style="color:white; font-weight:500;"><a href="product-details-page.html"></a></h5>
                            <p th:text="${th.storeaddr}"></p>
                            <p th:if="${session.logincust != null}" id="custidth"
							th:text="${session.logincust.custid}" style="display: none"></p>
                            <span id="storeidth" th:text="${th.storeid}" style="display:none;"></span>
                            <a th:href="@{/storedetail(storeid=${th.storeid})}" class="main-btn secondary-1-btn">
                            
                                
                                <p th:text="${th.storeintroduce}" style="font-weight:900; color:white;"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Product Style 1 Part Ends ======-->

    <!--====== Product Style 7 Part Start ======-->
    <article class="product-wrapper pt-100 pb-100" th:if="${session.logincust != null}" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-50">
                        <h1 class="heading-1 font-weight-700"><a>🙌WishList</a></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" th:each="vw : ${viewwish}">
                    <div class="product-style-7 mt-30">
                        <div class="product-image">
                            <div class="product-active">
                                <div class="product-item">
                                    <img th:src="@{/storeimg/}+${vw.storeimg}" alt="product" style="width:200px; height:200px; border-radius:50px;">
                                </div>
                            </div>
                        </div>
                        <div class="product-content" >
                            <h4 class="title" th:text="${vw.storename}" style="font-weight:bold; font-size:25px;">상호<a th:href="@{/storedetail(storeid=${vw.storeid})}"></a></h4>
                            <p th:text="${vw.storeintroduce}" style="font-size:19px; font-weight:bold;">소개</p><br>
                            <a th:href="@{/storedetail(storeid=${vw.storeid})}" class="main-btn primary-btn">
                                <img th:src="@{/assets/images/icon-svg/cart-4.svg}" alt="">
                                가게 상세 정보
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">위시리스트에 추가되었습니다.</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">위시리스트로 가기</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">취소</button>
					<a class="btn btn-primary" th:if="${session.logincust != null}"
						th:href="@{/wishlist(id=${session.logincust.custid})}">확인</a>
				</div>
			</div>
		</div>
	</div>
    
    
    </body>
    