<meta charset="utf-8">

<link rel="stylesheet" th:href="@{/assets/css/table.css}">
<script th:src="@{/assets/js/jquery.flexslider.js}"></script>




<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">흑돼지집모아보기</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table" style="text-align:center;">
						  <thead class="thead-dark">
						    <tr>
						     
						      <th></th>
						      <th>가게이름</th>
						      <th>가게주소</th>
						      <th>메뉴이름</th>
						      <th>가격&nbsp;(원)</th>

						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert" th:each="a : ${all}">		
								<td><a th:href="@{/storedetail(storeid=${a.storeid})}">
									<img th:src="@{/menuimg/}+${a.menuimg}" style="width:200px; height:200px; border-radius:60px;"></a></td>
								<td th:text="${a.storename}"></td>
							 	<td th:text="${a.storeaddr}"></td>
				            	<td th:text="${a.menuname}">store_name</td>
				            	<td th:text="${#numbers.formatInteger(a.menuprice, 3, 'COMMA')}"></td>			            	
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

</section>