<meta charset="utf-8">

<link rel="stylesheet" th:href="@{/assets/css/table.css}">


<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">검색결과</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table" style="text-align:center;">
						  <thead class="thead-dark">
						    <tr>
						      <th></th>
						      <th>메뉴이름</th>
						      <th>식당이름</th>
						      <th>가격&nbsp(원)</th>
						      <th></th>

						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert" th:each="m : ${menulist}">
						<td><a th:href="@{/storedetail(storeid=${m.storeid})}">
						<img th:src="@{/menuimg/}+${m.menuimg}" style="width:200px; height:200px; border-radius:60px;"></a></td>
						 <td th:text="${m.menuname}">item_name</td>
			            <td th:text="${m.storename}">store_name</td>
			            <td th:text="${#numbers.formatInteger(m.menuprice, 3, 'COMMA')}">item_price</td>
			            <td></td>
						    </tr>
						    
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

