
<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
         	<table class="table table-hover" width="100%" cellspacing="0">
			    <thead>
			        <tr>
			            <th>조건</th>
			            <th>조건설정</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>item_name</td>
			            <td>item_price</td>
			        </tr>
			
			    </tbody>
			</table>  
        </div>
      
        <!-- 메뉴 뿌려지는 곳 -->
        <div class="col-sm-6">
			<table class="table table-hover" width="100%" cellspacing="0">
			    <thead>
			        <tr>
			        	<th></th>
			            <th>메뉴이름</th>
			            <th>식당이름</th>
			            <th>가격&nbsp(원)</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="m : ${menulist}">
			        	<td><img th:src="@{/img/}+${m.menuimg}"></td>
			            <td th:text="${m.menuname}">item_name</td>
			            <td th:text="${m.storename}">store_name</td>
			            <td th:text="${#numbers.formatInteger(m.menuprice, 3, 'COMMA')}">item_price</td>
			        </tr>
			
			    </tbody>
			</table>        	
        </div>
        <!-- 메뉴 뿌려지는 곳 종료 -->
        <!-- 관련 식당or 추천 식당 뿌려지는 곳 -->
        <div class="col-sm-6">
			<table>
			    <thead>
			        <tr>
			        	<th></th>
			            <th>식당이름</th>
			            <th>식당카테</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr th:each="n : ${storelist}">
			    		<td><img th:src="@{/img/}+${n.storeimg}"></td>
			    		<td th:text="${n.storename}">store_name</td>
			    		<td th:text="${n.cateid}"></td>
			    	</tr>
			    </tbody>
			</table>        	
        </div>
        <!-- 관련 식당or 추천 식당 뿌려지는 곳 종료 -->
        
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>